@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer components {
  .yg-button {
    @apply bg-blue-700 px-3 py-1;
  }
  .yg-card {
    @apply p-3 rounded-lg border-2 border-gray-200 w-max overflow-hidden;
  }
}
